@import url("font.css");

* {
    margin: 0;
    height: 100%;
}

body {
    background: url("../asset/img/bg/bg_tea.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    box-shadow: 0 10px 10px #0007;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 96px;
    font-family: 'Lucida Sans';
    line-height: 96px;
    text-align: center;
    background: url("../asset/img/bg/bg_tea.jpg");
    background-size: cover;
}

.header_colorlevel {
    background: #0005;
}

.header a {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
    /* width: 400px; */
    color: #fff;
    text-decoration: none;
    width: auto;
}

.header a:hover {
    background: #f99;
}

div.content {
    /* height: calc(85% - 72px); */
    height: auto;
    width: 80%;
    position: relative;
    left: 10%;
    top: calc(15% + 72px);
    margin-bottom: calc(15% + 72px);
    border-radius: 5px;
    box-shadow: 10px 10px 30px #0006,
        -10px -10px 30px #0006;
    background-color: #0000;
}

div#pin{
    border-radius: 3px;
    position: absolute;
    background: #f99;
    font-family: "HMP";
    font-size: 20px;
    width: 80px;
    text-align: center;
    height: 1.5em;
    transform: rotate(315deg);
    left: -20px;
}

div.pin_competition{
    border-radius: 3px;
    position: absolute;
    background: #ffd699;
    font-family: "HMP";
    font-size: 15px;
    width: 120px;
    text-align: center;
    height: 1.5em;
    transform: rotate(315deg);
    left: -40px;
}

div.body div.activity {
    height: 200px;
    /* width: 40%;
    margin: calc(2.5% - 20px); */
    border-radius: 10px;
    padding: 10px;
    /* background: linear-gradient(90deg, #f7ebdb, #f7ebdb10); */
    margin-bottom: 20px;

}

div.activity#activity_pin{
    height: 300px;
    background-color: #e6ffc988;
}

div.activity#activity1{
    background-color: #f7ebdbbb;
}

div.activity#activity2{
    background-color: #fff2a0aa;
}

div.activity#activity3{
    background-color: #e3e3e3bb;
}

div.activity#activity4{
    background-color: #d8b09480;
}

div.activity#activity5{
    background: #e6d58c80;
}

div.activity#activity6{
    background-color: #eee8;
}

div.activity#activity7{
    background-color: #cba38080;
}

div.activity img {
    display: block;
    float: left;
    height: 200px;
    width: 30%;
    /* opacity: 0.5; */
    object-fit: cover;
}

div.activity#activity_pin img{
    height: 300px;
}

div.activity div.text {
    float: right;
    width: calc(70% - 20px);
    margin: 10px;
    font-family: "Comic Sans MS";
    text-align: center;
}

div.activity h1 {
    line-height: 1.5em;
    height: 1.5em;
    font-size: 40px;
    font-weight: 500;
    /* text-align: center; */
}

div.activity p {
    line-height: 1.5em;
    height: 1.5em;
    margin-bottom: 10px;
    font-size: 24px;
    /* text-align: center; */
}

div.activity a{
    color: #000;
    border: 2px solid #000;
    padding: 3px;
    font-size: 24px;
    text-decoration: none;
}

div.activity a:hover{
    background: #fcc8;
}

div.footer{
    text-align: center;
    box-shadow: 0px -20px 20px #0006;
    height: 100px;
    line-height: 100px;
    background: #0004;
    color: #fff;
    font-family: "Comic Sans MS";
}

div.footer p{
    font-size: 24px;
}

div.footer span{
    font-size: 36px;
}

